<div class="container">

  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12">
      <label>Descrição</label>
      <input pInputText class="ui-g-12">
    </div>

    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <input pInputText style="width: 95px">

      <label>Até</label>
      <input pInputText style="width: 95px">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="lancamentos" [paginator]="true" [rows]="4" [responsive]="true">
        <p-column field="pessoa" header="Pessoa"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>
        <p-column header="Valor" styleClass="col-valor">
          <ng-template let-lanc="rowData" pTemplate="body">
            {{ lanc.valor | currency:'BRL':true :'1.2-2' }}
        </ng-template>
        </p-column>

        <p-column header="Vencimento" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
              {{ lanc.dataVencimento | date: 'dd/MM/y' }}
          </ng-template>
        </p-column>

        <p-column value="dataPagamento" header="Pagamento" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
            <span [style.color]=" lanc.tipo === 'DESPESA' ? 'red' : 'blue' ">{{lanc.dataPagamento | date: 'dd/MM/y'}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body">
            <a pButton icon="fa fa-pencil" class="button-datatable" pTooltip="Editar" tooltipPosition="top"></a>
            <a pButton icon="fa fa-trash" class="button-datatable" pTooltip="Remover" tooltipPosition="top"></a>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <div class="ui-g-12">
    <a pButton label="Novo Lançamento"></a>
  </div>

</div>
